<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TCS Cert Request.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TCSCertRequest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ms-icp_cstub.o.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76112C39136CAE50000018BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D10D572023FB4E0060A993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D10D5B2023FD130060A993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76FC3D982037F1E400DCC7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76FC3DAA2037F1E400DCC7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
